@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}
body {
  overflow-x: hidden;
  font-size: inherit;
  line-height: inherit;
  font-family: "Poppins", sans-serif;
  color: #111;
  scroll-behavior: smooth;
  transition: 0.5s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

.main-admin {
  display: flex;
  width: 100%;
}

.sidebar {
  height: 100vh;
  width: 300px;
  background-color: #001529;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar-end ul li {
  padding: 10px 20px;
  cursor: pointer;
}
.sidebar-end ul li:hover {
  background-color: rgba(241, 241, 241, 0.588);
}

.sidebar-end ul li a {
  color: #fff;
  text-decoration: none;
}
.sidebar-end ul li.sidebar-logout {
  background-color: rgba(251, 31, 31, 0.852);
}
.accordion-item,
.accordion-button {
  background-color: transparent;
  color: #fff;
  outline: none;
  border-top: 1px solid #fff;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.accordion-button:focus {
  box-shadow: 0 0;
  border-color: #fff;
}

.list-group-item {
  background-color: transparent;
  color: #fff;
}

.sidebar-menu-header {
  color: #fff;
  padding: 0 20px;
  align-items: center;
  display: flex;
  width: 100%;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.sidebar-menu > a {
  text-decoration: none;
}
.accordion-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion-body li {
  padding: 10px;
}
.accordion-body li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.textDanhMuc_error{
  color: #cb4343;
  font-weight: 500;
}
.sidebar-menu-header:hover {
  background-color: rgba(241, 241, 241, 0.588);
}

/* content */
.title-admin{
  text-align: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.188);
  margin-bottom: 30px;
}
.listdanhmuc{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 0 10px;
}
.danhmuc-admin {
  user-select: none;
  border-radius: 3px;
  overflow: hidden;
}
.danhmuc-admin a{
  font-weight: 500;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  transition: all 0.2s linear;
  color: #000000;
}
.danhmuc-thaotac a{
  color: blue;
  text-decoration: underline;
}
.danhmuc-admin a:hover {
  color: rgb(36, 36, 111);
  text-decoration: underline;
}
/* card */
.box-product-right-content  {
  border-radius: 10px;
  padding: 10px 0;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 64px;
}
.new-product .card {
  padding-top: 10px;
}
.new-product .card-body .card-views {
  margin-bottom: 10px;
}
.new-product .card-body p {
  font-size: 0.9rem ;
  color: red;
  margin: 0;
}
.new-product .card-body .card-views span {
  color: #0d6efd;
  font-size: 12px;
}
.new-product .card-body a {
  text-align: center;
}
.card-img-top{
  max-height: 250px;
  width: auto;
}
.card-body .card-title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* conlec */
.collections-img {
  justify-content: center;
}
.collections-img img {
  width: 530px;
  height: 600px;
}

/*  */
.collections-product-show {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px !important;
}
.collections-product .title h2 {
  font-size: 24px;
  font-weight: 500;
}
.collections-product .title p {
  font-size: 18px;
  font-weight: 500;
}
p {
  margin: 0;
}
.collections-product-show .cate {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.collections-product-show .cate .cate-color {
  margin: 10px 0;
}
.collections-product-show .cate .cate-color img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid #ccc;
}
.collections-product-show .cate .cate-size button {
  width: 100px;
}

/* text mota */
#text-mota{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.cate-checkbox{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
.cate-checkbox input{
  cursor: pointer;
}
.card_add{
  border: 1px #333 dashed;
  height: 250px;
}
.card_add a{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #333;
}
.card_add a:hover .card-botron{
  transition: 0.25s linear all;
  background-color: rgb(188, 126, 126);
  color: #ffffff;
}
.card-botron{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  width: 80%;
  height: 80%;
  border: 1px #333 dashed;
}
.card-botron p{
  color: #ffffff;
  font-size: 1rem;
}
.card-botron span{
  transform: translateY(-10px);
}

/* table hug */
.table-hung{
  margin: auto;
  box-shadow: 0 0 10px 8px rgba(0,0,0,0.2);
}
.table-hung tr th{
  text-align: center;
  padding: 7px 30px;
  border-bottom:3px solid brown ;
}
.table-hung tr td{
  text-align: center;
  padding: 7px 20px;
  border-bottom:1px solid #333 ;
}